<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel='icon' href="/images/noodles.png">
  <link rel="stylesheet" href="/styles/bulma.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css">
  <title>Collab Soup</title>
</head>

<body>

  <nav class="navbar is-transparent">
    <div class="navbar-brand">
      <a class="navbar-item"><img src="/images/noodles.png">Collab Soup
      </a>
      <div class="navbar-burger burger" data-target="navbarTransparent">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="navbarTransparent" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="">
          Home
        </a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link navbar-item" href="">
            Other pages
          </a>
          <div class="navbar-dropdown is-boxed">
            <a class="navbar-item" href="">
              Feed
            </a>
          </div>
        </div>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <a class="bd-tw-button button is-danger" id="modal-btn">
                <span class="icon is-small is-left">
                  <i class="fas fa-sign-in-alt"></i>
                </span>
                <span>
                  Login
                </span>
              </a>
              <a class="bd-tw-button button is-success" href="/creation">
                <span class="icon is-small is-left">
                  <i class="fas fa-user-plus"></i>
                </span>
                <span>
                  Sign up
                </span>
              </a>
            </p>

          </div>
        </div>
      </div>
    </div>
  </nav>


  <div id="bodyView">
    {{{body}}}
  </div>


  <footer class="footer footerSection">
    <div class="columns">
      <div class="column is-1 is-offset-8">
        <div class="content">
          <a class="" href="#">
            GitHub
          </a>
        </div>
        <div class="content">
          <a class="" href="#">
            LinkedIn
          </a>
        </div>
      </div>
    </div>

    <div class="content has-text-centered" id="foot">
      <p>
        Collab Soup copyright 2020
      </p>
    </div>
  </footer>

</body>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script defer src="/js/all.js"></script>
<script src="/js/index.js"></script>

</html>