<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='icon' href="/images/noodles.png">
  <link rel="stylesheet" href="/styles/bulma.css">
  <link rel="stylesheet" href="/styles/mystyles.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css">
  <title>Collab Soup</title>
</head>

<body>

  <nav class="navbar is-transparent">
    <div class="navbar-brand">
      <a class="navbar-item" href="/"><img src="/images/noodles.png">Collab Soup
      </a>
      <div class="navbar-burger burger" data-target="navbarTransparent">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="navbarTransparent" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/">
          Home
        </a>
        <a class="navbar-item" href="/feed">
          Feed
        </a>
        <a class="navbar-item" href="/about">
          About
        </a>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="bd-tw-button button is-danger is-hidden" id="logoutBtn">
              <span class="icon is-small is-left">
                <i class="fas fa-sign-in-alt"></i>
              </span>
              <span>
                Logout
              </span>
            </a>
            <a class="bd-tw-button button is-success is-hidden" href="/profile" id="profileBtn">
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
              <span>
                Profile
              </span>
            </a>
            <a class="bd-tw-button button is-danger" id="modal-btn">
              <span class="icon is-small is-left">
                <i class="fas fa-sign-in-alt"></i>
              </span>
              <span>
                Login
              </span>
            </a>
            <a class="bd-tw-button button is-success" href="/creation" id="signupBtn">
              <span class="icon is-small is-left">
                <i class="fas fa-user-plus"></i>
              </span>
              <span>
                Sign up
              </span>
            </a>
          </p>
        </div>
      </div>
    </div>

    </div>
  </nav>


  <div id="bodyView">
    {{{body}}}
  </div>


  <div class="modal animate__animated animate__fadeIn animate__faster" id="login-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Sign in</p>
        <button class="delete" id="modalClose" aria-label="close"></button>
      </header>
      <form id="loginForm" name="signin" method="post" action="/signin">
        <section class="modal-card-body">
          <div class="field">
            <p class="control has-icons-left has-icons-right">
              <input class="input" name="email" type="email" placeholder="Email" id="loginEmail">
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input class="input" name="password" type="password" placeholder="Password" id="loginPassword">
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>
        </section>
        <footer class="modal-card-foot">
          <div class="buttons is-right">
            <input class="btn button is-success" type="submit" value="Sign In" />
          </div>
        </footer>
      </form>
    </div>
  </div>


  <footer class="footer">
    <div class="content has-text-centered">
      <p class="foot-text has-text-danger">
        Collab Soup copyright 2020
      </p>
    </div>
  </footer>
</body>

</html>