<div class="columns">
    <div class="column is-half is-offset-one-quarter">
        <div class="content">
            <h1 class="is-large has-text-centered">About Us</h1>
            <p>Collab soup is a website dedicated to serving the developer community. We have personally found ourselves
                in the past looking for help on projects that were out of our grasp to handle alone. This website was
                created to make collaborating with other developers easier.</p>
            <h1 class="is-medium has-text-centered">Our Team</h2>
        </div>
    </div>
</div>

<div class="container">

    <div class="columns">
        <div class="column">
            <div class="card">
                <div class="card-image">
                    <figure class="image">
                        <img src="/images/bassett.jpg" alt="Team image">
                    </figure>
                </div>
                <div class="card-content">
                    <h2>Jordan Bassett</h2>
                    <p class="title">Back End Developer</p>
                    <p>Student at Vanderbilt University Full Stack Coding Bootcamp</p>
                    <p>jordankbassetta@gmail.com</p>
                    <a href="https://github.com/jordankbassett" target="_blank" rel="noopener"><span class="icon is-large"><i
                                class="fab fa-github-square fa-3x"></i></span></a>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-image">
                    <figure class="image">
                        <img src="/images/james.jpg" alt="Team image">
                    </figure>
                </div>
                <div class="card-content">
                    <h2>James Hooven</h2>
                    <p class="title">Front End Developer</p>
                    <p>Student at Vanderbilt University Full Stack Coding Bootcamp</p>
                    <p>connorh16@gmail.com</p>
                    <a href="https://www.github.com/8connor" target="_blank" rel="noopener"><span class="icon is-large"><i
                                class="fab fa-github-square fa-3x"></i></span></a>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-image">
                    <figure class="image">
                        <img src="/images/chip.jpg" alt="Team image">
                    </figure>
                </div>
                <div class="card-content">
                    <h2>Chip Johnson</h2>
                    <p class="title">Front End Developer</p>
                    <p>Student at Vanderbilt University Full Stack Coding Bootcamp</p>
                    <p>cjohnson1580@gmail.com</p>
                    <a href="https://github.com/cjohnson1580" target="_blank" rel="noopener"><span class="icon is-large"><i
                                class="fab fa-github-square fa-3x"></i></span></a>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-image">
                    <figure class="image">
                        <img src="/images/noe.jpg" alt="Team image">
                    </figure>
                </div>
                <div class="card-content">
                    <h2>Noe Leiva</h2>
                    <p class="title">Back End Developer</p>
                    <p>Student at Vanderbilt University Full Stack Coding Bootcamp</p>
                    <p>leiva.noe.86@gmail.com</p>
                    <a href="https://github.com/leivanoe1011" target="_blank" rel="noopener"><span class="icon is-large"><i
                                class="fab fa-github-square fa-3x"></i></span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column">
        </div>
    </div>
</div>