<div class="parallax">

  <section class="main-section section">
    <div class="container">
      <div class="columns">
        <div class="column is-full">
          <header class="has-text-centered animate__animated animate__fadeInUp animate__slower">
            <h1 class="title is-spaced has-text-weight-bold is-1 is-size-2-mobile has-text-danger">Collab Soup</h1>
            <h2 class="title is-spaced has-text-weight-bold is-1 is-size-2-mobile has-text-danger">Where developers connect.</h2>
            {{!-- <img src="/images/Untitled (2).png" height="336" width="235"> --}}
          </header>
        </div>
      </div>
    </div>

</div>

</br>
<div id="mainSec">
  <div class="columns">
    <div class="column is-half is">
      <div class="box animate__animated animate__fadeInLeft animate__slower">
        <article class="media">
          <div class="media-left">
            <figure class="image is-64x64">
              <img src="/images/review1.jpg" alt="Image">
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>John Smith</strong> <small>totally real person</small>
                <br>
                "This website is amazing! 10/10"
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column is-offset-6 is-half">
      <div class="box animate__animated animate__fadeInRight animate__slower">
        <article class="media">
          <div class="media-left">
            <figure class="image is-64x64">
              <img src="/images/review2.jpg" alt="Image">
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>Bob Johnson</strong> <small>I am real as well</small>
                <br>
                "NEVER SEEN ANYTHING LIKE IT IN MY ENTIRE LIFE!!!!! 9.7/10"
              </p>
            </div>

          </div>
        </article>
      </div>
    </div>
  </div>
</div>
</section>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script defer src="/js/all.js"></script>
<script src="/js/index.js"></script>