<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body, html {
  height: 100%;
}
.parallax {
  /* The image used */
  background-image: url('https://files.slack.com/files-pri/TUTP02EA0-F0186E8N93N/image_from_ios.jpg');
  /* Full height */
  height: 100%; 
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
</head>
<body>
<div class="parallax"></div>
<div style="height:1000px;background-color:rgb(0, 174, 255);font-size:36px">
SIGNUP!



CREATE!



COLLAB!
</div>
<div class="parallax"></div>
</body>
</html>

<section class="main-section section ">
  <div class="container">
    <div class="columns">
      <div class="column is-full">
        <header class="has-text-centered animate__animated animate__fadeInUp animate__slower">
          <h1 class="title is-spaced has-text-weight-bold is-1 is-size-2-mobile">Collab Soup</h1>
          <h2 class="title is-spaced has-text-weight-bold is-1 is-size-2-mobile">Where developers connect.</h2>
          <img src="/images/Untitled (2).png" height="336" width="235">
        </header>
      </div>
      <div class="column">

      </div>
    </div>
  </div>
  </br>
  <div id="mainSec">
    <div class="columns">
      <div class="column is-half is">
        <div class="box animate__animated animate__fadeInLeft animate__slower">
          <article class="media">
            <div class="media-left">
              <figure class="image is-64x64">
                <img src="/images/review1.jpg" alt="Image">
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>John Smith</strong> <small>totally real person</small>
                  <br>
                  "This website is amazing! 10/10"
                </p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column is-offset-6 is-half">
        <div class="box animate__animated animate__fadeInRight animate__slower">
          <article class="media">
            <div class="media-left">
              <figure class="image is-64x64">
                <img src="/images/review2.jpg" alt="Image">
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>Bob Johnson</strong> <small>I am real as well</small>
                  <br>
                  "NEVER SEEN ANYTHING LIKE IT IN MY ENTIRE LIFE!!!!! 9.7/10"
                </p>
              </div>

            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>

<article>
  <div class="container">
    <div class="columns">
      <div class="column is-half">
        <div class="box">
          <div class="content is-medium">
            <h1>
              Connecting with other developers made easy
            </h1>
            <p>
              If you want to connect with other developers to collaborate on projects to complete your goals in a timely
              manner, then look no further.
            </p>
          </div>
        </div>
      </div>
    </div>
</article>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script defer src="/js/all.js"></script>
<script src="/js/index.js"></script>
