
<br>

<div class="columns is-centered">
    {{#each err}}
        <li>{{this}}</li>
    {{/each}}   
</div>

<br>

<form action="signin" method="POST">
    <div class="columns is-centered">
        <div class="control has-icons-left">
            
            <input class="text input is-large" name="email" type="email" placeholder="Email"/>

            <span class="icon is-medium is-left">
                <i class="fas fa-envelope"></i>
            </span>
        </div>

    </div>
    </br>

    <div class="columns is-centered">
        <div class="field">
            <p class="control has-icons-left">
                
                <input class="input is-large" name="password" type="password" placeholder="Password"/>
                <span class="icon is-large is-left">
                    <i class="fas fa-lock"></i>
                </span>
            </p>
        </div>
    </div>

    <br>

    <div class="columns is-centered">
            <input class="btn button is-success" type="submit" value="Sign In" />
            {{!-- <button class="button is-success" id="accountCreate">Submit</button> --}}
    </div>

</form>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/all.js"></script>
<script src="/js/index.js"></script>
<script src="/js/creation.js"></script>

