<div class="container">
    <div class="box">
        <div class="columns">
            <div class="column is-2">
                <figure class="image">
                    <img
                        src="{{{ user.picture }}}">
                </figure>
            </div>
            <div>
                <div class="column content is-medium">
                    <h1>
                        {{{ user.firstname }}} {{ user.lastname}}
                    </h1>

                    <p>
                        <small>Full stack web developer</small>
                    </p>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="tabs is-centered is-boxed">
                <ul>
                    <li class="is-active" id="aboutSec">
                        <a>
                            <span class="icon is-small"><i class="fas fa-image" aria-hidden="true"></i></span>
                            <span>About</span>
                        </a>
                    </li>
                    <li class="" id="projectSec">
                        <a>
                            <span class="icon is-small"><i class="fas fa-music" aria-hidden="true"></i></span>
                            <span>Projects</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="box" id="projects">
            <div class="columns">
                <div class="column is-half is-offset-one-quarter">
                    <div class="content">
                        <p>Project 1 placeholder</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="box" id="info">
            <div class="columns">
                <div class="column">
                    <div class="content">
                        <p>
                            Email:  {{{ user.email }}}
                        </p>
                        <p>
                            <a href="https://www.github.com/8connor" target="_blank" rel="noopener">github</a>
                        </p>
                        <p>
                            <a href="https://www.linkedin.com/in/james-hooven/" target="_blank"
                                rel="noopener">linkedin</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</br>
<div class="container">
    <div class="box">
        <div class="columns">
            <textarea class="textarea" placeholder="Type your message here"></textarea>
        </div>
        <button class="button">Send</button>
    </div>
</div>