html{
  background-color: #bfbfbf;
}

.foot-text{
  color: #e64100;
}

.background {
  background: transparent;
}
/* 
#mainSec{
  
  
} */

#createCon {
  margin-top: 10px;
  margin-bottom: 20px;
}

#bodyView {
  margin-top: 10px;
  min-height: 80vh;
  margin-bottom: 10px;
}

#notFound{
  margin-top: 50px;
}