.main-section {
  background: whitesmoke;
}

.foot-text{
  color: #e60000;
}

.background {
  background: transparent;
}

#mainSec{
  margin-top: 15px;
  margin-bottom: 15px;
}

#createCon {
  margin-top: 10px;
  margin-bottom: 20px;
}

#bodyView {
  min-height: 80vh;
}

#notFound{
  margin-top: 50px;
}