.list-group-item {
  line-height: 2.5;
}

.main-section {
  background: white;
}

.footerSection {
  background: salmon;
}

.navbar {
  background: salmon;
}

.landing-img {
  margin-top: -100px;
}

.background {
  background: transparent;
}

#createCon {
  margin-top: 10px;
  margin-bottom: 20px;
}

#bodyView {
  height: 80vh;
}